<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnicodeInspector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <UnicodeInspector.Properties.Settings>
            <setting name="UnicodeZipFilename" serializeAs="String">
                <value>Unicode.zip</value>
            </setting>
            <setting name="UnicodeUndefinedLabel" serializeAs="String">
                <value>&lt;undefined&gt;</value>
            </setting>
            <setting name="UnicodeInvalidLabel" serializeAs="String">
                <value>&lt;invalid&gt;</value>
            </setting>
            <setting name="UnicodeData" serializeAs="String">
                <value>UnicodeData.txt</value>
            </setting>
            <setting name="Unihan_IRGSources" serializeAs="String">
                <value>Unihan_IRGSources.txt</value>
            </setting>
            <setting name="Unihon_OtherMappings" serializeAs="String">
                <value>Unihan_OtherMappings.txt</value>
            </setting>
            <setting name="Unihan_Variants" serializeAs="String">
                <value>Unihan_Variants.txt</value>
            </setting>
            <setting name="OtherAttribution" serializeAs="String">
                <value>Other-Han.txt</value>
            </setting>
            <setting name="MaxNameHists" serializeAs="String">
                <value>400</value>
            </setting>
        </UnicodeInspector.Properties.Settings>
    </userSettings>
</configuration>